@import url(fonts.css);

:root {
  --dark: #1f2937;
  --light: #f9faf8;
  --accent: #3882f6;
  --shade: #e5e7eb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--dark);
  color: var(--light);
  padding: 32px 0;
}

header .container {
  justify-content: space-between;
}

header a {
  color: var(--light);
  text-decoration: none;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  font-weight: 300;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.hero {
  background-color: var(--dark);
  color: var(--light);
  padding: 120px 0;
}

.hero .container {
  justify-content: space-between;
  gap: 2em;
}

.hero h1 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 16px;
}

.hero img {
  max-width: 50%;
  display: inline-block;
}

.hero p {
  color: var(--shade);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.hero button,
.cta button {
  display: inline-block;
  border: none;
  background-color: transparent;
  /* display: inline-block; */
}

.hero a,
.cta a {
  background-color: var(--accent);
  color: var(--light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 24px;
  border-radius: 8px;
  display: inline-block;
  transition: .25s;
}

.information {
  text-align: center;
  padding: 64px 0;
}

.information .container {
  display: block;
}

.information h2 {
  font-size: 36px;
  margin-bottom: 52px;
}

.information ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.information li {
  flex: 0 0 15%;
}

.information img {
  display: inline-block;
  border-radius: 16px;
  border: 4px solid var(--accent);
}

.quote {
  background-color: var(--shade);
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  padding: 64px 0;
}

.quote .container {
  width: 100%;
  max-width: 680px;
  flex-direction: column;
  padding: 0 16px;  
}

.quote blockquote {
  margin-bottom: 16px;
}

.quote cite {
  /* flex: 1 0 100%; */
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.cta {
  background-color: var(--accent);
  max-width: 1024px;
  margin: 32px auto;
  border-radius: 8px;
  color: var(--light);
  padding: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.cta a {
  border: 2px solid var(--light);
}

.cta a:hover,
.hero a:hover {
  background-color: var(--light);
  color: var(--accent);
}

footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 32px 0;
}

main {
  flex: 1
}